<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 									   http://www.springframework.org/schema/beans/spring-beans.xsd
	 									   http://www.springframework.org/schema/context 
	 									   http://www.springframework.org/schema/context/spring-context.xsd
	 									   http://www.springframework.org/schema/mvc 
	 									   http://www.springframework.org/schema/mvc/spring-mvc.xsd
	 									   http://www.springframework.org/schema/tx
       									   http://www.springframework.org/schema/tx/spring-tx.xsd
       									   http://www.springframework.org/schema/aop 
                         				   http://www.springframework.org/schema/aop/spring-aop.xsd">
	<context:property-placeholder location="classpath:jdbc.properties" />
	<bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource">
		<property name="poolProperties" ref="poolProperties"></property>
	</bean>
	<bean id="poolProperties" class="org.apache.tomcat.jdbc.pool.PoolProperties">
		<property name="driverClassName" value="${driver}" />
		<property name="url" value="${url}" />
		<property name="username" value="${username}" />
		<property name="password" value="${password}" />
		<property name="defaultAutoCommit" value="false" />
	</bean>
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:mybatis-config.xml" />
		<property name="typeAliasesPackage" value="com.seckill.entity" />
		<property name="mapperLocations" value="classpath:com/seckill/mapper/*.xml" />
	</bean>
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
		<property name="basePackage" value="com.seckill.dao" />
	</bean>
</beans>